head, body {
    background-color: #24313a;
}

.processed-text .date-text-element {
    color: red;
    text-decoration: underline;
}

.text-boxes-container {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
}

.text-boxes-container section {
    margin: 20px;
    padding: 20px;
    background-color:#576067;
    box-shadow: 0 0 10px black;
    outline: 1px dashed #98abb9;
    outline-offset: -5px;
}

.text-boxes-container pre {
    overflow: auto;
    width: auto;
    max-height: 72vh;
    min-height: 72vh;
    color: lightcyan;
}

.text-boxes-container hr {
    color: #fb5135;
    border: 2px solid #fb5135;
    border-radius: 2px;
}

.text-boxes-container h2.title {
    text-align: center;
    margin: -5px;
    padding: 10px 0;
    color: wheat;
    text-shadow: 0 0 1px white;
}