body {
    margin: 0;
    background-color: lightgray;
    min-height: 100vh;
}

.form-container {
    background-color: white;
    border: solid 3px black;
    border-radius: 6px;
    box-shadow: 5px 5px 10px black;
    margin: auto;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.file-form {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.file-form .field-label {
    float: left;
    width: 20%;
    margin: 10px;
}

.file-form .field-input {
    float: right;
    width: 50%;
    margin: 10px;
}

.file-form div {
    overflow: auto;
}

.file-form div::after {
    content: "";
    clear: both;
}

.file-form input[type=submit] {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.file-form input[type=submit]:hover {
    background: #EA7B00;
    color: #fff;
    cursor:pointer;
}

.file-form input[type=file] {
    width: 0.0px;
    height: 0.0px;
    opacity: 0;
    overflow: hidden;
    position: relative;
    left: 70%;
    top: 0;
    z-index: -1;
}

.file-form #textfile:valid + label.field-input {
    color: green;
}

.file-form .textfile-container {
    padding: 2px 6% 2px 6%;
    border: 1px solid transparent;
    border-radius: 2px;
    text-align: center;
}

.file-form .textfile-container:hover {
    border: 1px solid black;
    background: lightgray;
    cursor: pointer;
}

.form-container .form-header {
    text-align: center;
}